# Go binaries
/bin/
/obj/

# Dependency directories
/vendor/

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Coverage files
*.out

# IDE files
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.iml

# Logs
*.log

*.env